<% content_tag :li, :id => "comment-#{comment.id}", :class => (comment.highlight? ? "owner comment" : "comment") do %>
	<h5><%= comment.author %></h5>
	<small><%= comment.created_at.to_s(:long) %></small>
	<p><%= comment.body %></p>
	<% if current_user %>
	  <%= link_to "Delete", comment_path(comment), :method => :delete, :confirm => "Are you sure?" %>
	<% end %>
	<hr />
<% end %>