<p>
	It was probably about 2 minutes into meeting each other for the first time that some part of me knew that I had met my husband.
</p>
<p>
	Jeff moved to Atlanta for work about 6 months before we met and, needing to build a new social circle, used a social networking 
	site to find some interesting people in the area.  He stumbled upon my public profile and, sensing he had found another nerd, 
	sent me a message.
</p>
<p>
	Normally I wouldn't respond to or even open an email from someone I didn't know.  Just the previous week though, a friend of mine
	had tried an experiment where she opened and honestly answered emails from strangers for one week.  I decided to try it on just one.
	I replied to Jeff's email, and soon agreed to meet in person.  I walked into
	The Righteous Room that night and sat next to him at the first two barstools &ndash; the exact spot 
	where he would propose to me one year later.
</p>
<p>
	Maybe some girls wouldn't like a marriage proposal in a dark, smokey bar over 
	whiskey, but Jeff figured me out in less than a year.
</p>