<div id="gallery">
  <h2 id="gallery_title"><%= @gallery.name %></h2>
  <%= link_to "Add a photo!", new_gallery_photo_path(@gallery), :id => "add_photo" %>
  <% for photo in @photos %>
    <%= render photo %>
  <% end %>
</div>